.jumbotron {
  background-color: #1D8C86;
  color: white;
<<<<<<< HEAD
  margin-top:50px;
}
#guia {
  background-color: #AFE6E3;
}

#footer{
  display: block;
  background-color: #1D8C86;
  color: white;
}
.footer-address-icon{
  padding-right: 10px;
=======
>>>>>>> d346fc3116fef8f3131f3220b6e947cffffec6fe
}
#guia {
  background-color: #AFE6E3;
}

#footer{
  display: block;
  background-color: #1D8C86;
  color: white;
}